.texte-presentation {
    border: 2px solid rgb(119, 95, 93);
    width: 60%;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    width: 51%;

}
.bloc-presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bloc-image{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bloc-image img {
    width: 50%;
}

.footerAPropos {
    position: absolute;
    bottom: 0 !important;
}