body{
    background-image: url("https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    min-height: 100vh;
    margin-left: 10% !important;
    margin-right: 10% !important;
    width: 80%;
}

header {
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.spinner-border{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .spinner-border{
        display: none;
    }
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    border: 2px solid rgb(119, 95, 93);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    border-radius: 30px;
}

.texte-presentation {
    font-weight: 500;
}

.bloc-image-accueil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}
.bloc-image-accueil img {
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .intro {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
/* Footer  */

footer {
    position: relative;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    bottom: 0;
}

footer div {
    border: 2px solid rgb(119, 95, 93);
    border-radius: 20px;
    width: 30%;
    background-color: rgb(46, 94, 133);
}

footer div ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
}

footer li {
    list-style-type: none;
}
footer a {
    color: antiquewhite;
    cursor: progress;	
}