.texte-presentation {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    margin-top: 100px;
    margin-left: 27%;
    margin-right: 27%;
}

.content p {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    border: 3px solid grey;
    border-radius: 20px;
}

img {
    width: max-content;
    height: max-content;
    width: 100% !important;
}

.carousel-inner {
    width: 100%;
}

.video {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 560px;
    height: 315px;
}


@media screen and (max-width: 992px) {
    .content {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}
